<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='pt'>
  <!-- <![endif] -->
  <head>
    <title>Home | Jednotka - Multipurpose Template</title>
    <meta content='blog, business, clean, multipurpose template, twitter bootstrap 3, responsive' name='keywords'>
    <meta content='Jednotka is multipurpose Twitter Bootstrap 3 template which is suitable for any type of business or online project. ' name='description'>
    <meta content='BublinaStudio.com' name='author'>
    <meta content='all' name='robots'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <!--[if IE]> <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> <![endif]-->
    
  </head>
  <body class='homepage'>
    <div id='wrapper'>
      <!-- HEADER PARTIAL -->
      <%= render partial: 'application/layouts/header' %>
      <!-- HEADER PARTIAL -->
      <div id='main' role='main'>
        <!--div class='carousel-blur flexslider' id='carousel-example-1'>
          <ul class='slides'>
            <li class='item'>
              <div class='container'>
                <div class='row'>
                  <div class='col-lg-12 animate'>
                    <h1 class='big fadeInUp animated'>
                      Agendamento Online
                      
                    </h1>
                    <p class='normal fadeInUp animated'>Marque um horario conosco</p>
                    <a class='btn btn-contrast btn-lg fadeInRight animated' href='#'>
                      Acessar Agendamento Online
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class='item'>
              <div class='container'>
                <div class='row'>
                  <div class='col-lg-12 animate'>
                    <h2 class='big fadeInLeftBig animated'>
                      Acesse nosso Portal
                    </h2>
                    <p class='normal fadeInRightBig animated'>Já possui acesso ao nosso Portal ?</p>
                    <a class='btn btn-contrast btn-lg fadeInDownBig animated' href='/admin'>
                      Acessar Portal
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class='item'>
              <div class='container'>
                <div class='row'>
                  <div class='col-lg-12 animate'>
                    <h2 class='big fadeInRightBig animated'>Entre em Contato</h2>
                    <p class='normal fadeInLeftBig animated'>Ficaremos Felizes em Conversar com você</p>
                    <a class='btn btn-contrast btn-lg fadeInUpBig animated' href='#'>
                      Entrar em Contato
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div-->
        <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <p class='lead lead-lg text-center'>Quisque nunc sapien, malesuada vitae luctus in, blandit eu erat. Cras fringilla eros eget justo dictum convallis.</p>
              </div>
            </div>
            <div class='row panels'>
              <div class='col-sm-4 panel-item'>
                <a class='panel panel-circle-big-contrast' href='#'>
                  <div class='panel-icon'>
                    <i class='fa-icon-time'></i>
                  </div>
                  <div class='panel-body'>
                    <h3 class='panel-title'>Project planning</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu pharetra felis.est.</p>
                  </div>
                </a>
              </div>
              <div class='col-sm-4 panel-item'>
                <a class='panel panel-circle-big-contrast' href='#'>
                  <div class='panel-icon'>
                    <i class='fa-icon-cog'></i>
                  </div>
                  <div class='panel-body'>
                    <h3 class='panel-title'>Easy customizable</h3>
                    <p>Etiam init rutrum ligula semper neque relu dapibus, non tempus mauris sodales.est.</p>
                  </div>
                </a>
              </div>
              <div class='col-sm-4 panel-item'>
                <a class='panel panel-circle-big-contrast' href='#'>
                  <div class='panel-icon'>
                    <i class='fa-icon-rocket'></i>
                  </div>
                  <div class='panel-body'>
                    <h3 class='panel-title'>Fastest workers</h3>
                    <p>Pellentesque id neque sit amet nibh placerat suscipit et a purus, mauris id.</p>
                  </div>
                </a>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa-icon-star'></i>
                  <h2>Notícias Recentes</h2>
                </div>
                <div class='text-boxes'>
                  <div class='row text-box'>
                    <div class='col-sm-6'><img class="img-responsive center-block img-rounded" alt="Lorem ipsum dolor sit amet" width="340" height="188" src="images/demo/common/devices.jpg" /></div>
                    <div class='col-sm-6'>
                      <h3 class='title'><a href="#">Ultima postagem do Blog</a></h3>
                      <p>Mauris at ultricies eros. Morbi vel dui nec arcu suscipit euismod. Phasellus pellentesque lectus eget quam ullamcorper consectetur. Vestibulum vitae risus a erat mollis lac in venenatis tellus. Morbi et tristique lacus.</p>
                      <a class='btn btn-contrast btn-bordered btn-sm' href='#'>Continue Lendo ...</a>
                    </div>
                  </div>
                  <hr>
                  <div class='row text-box'>
                    <div class='col-sm-6 col-sm-push-6'><img class="img-responsive center-block img-rounded" alt="Praesent vitae adipiscing nunc" width="330" height="183" src="images/demo/common/chart.png" /></div>
                    <div class='col-sm-6 col-sm-pull-6'>
                      <h3 class='title'><a href="#">Penultima Postagem do Blog</a></h3>
                      <p>Integer fringtilla fringilla mauris eget accumsan. Nullam quis consequat ipsum, eu cursus mi. Donec quis quam at risus viverra venenatis. Phasellus non nulla tortor. Fusce congue enim sed ullamcorper cursus. Donec tincidunt elit sed felis iaculis laoreet.</p>
                      <a class='btn btn-contrast btn-bordered btn-sm' href='#'>Continue Lendo ...</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa-icon-suitcase'></i>
                  <h2>
                    Our last projects
                    <small>Phasellus malesuada sapien non orci semper gravida.</small>
                  </h2>
                </div>
                <div class='row portfolio-boxes'>
                  <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
                    <a class='image-link' href='portfolio_detail.html'>
                      <i class='fa-icon-search'></i>
                      <img class="img-responsive img-rounded center-block" alt="Etiam vestibulum" width="262" height="262" src="images/demo/last_projects/cyclist.jpg" />
                    </a>
                    <h3 class='title'>Etiam vestibulum</h3>
                    <p class='category'>Photography</p>
                  </div>
                  <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
                    <a class='image-link' href='portfolio_detail.html'>
                      <i class='fa-icon-link'></i>
                      <img class="img-responsive img-rounded center-block" alt="Malesuada" width="262" height="262" src="images/demo/last_projects/blueberries.jpg" />
                    </a>
                    <h3 class='title'>Malesuada</h3>
                    <p class='category'>Webdesign</p>
                  </div>
                  <div class='col-sm-3 col-xs-6 portfolio-box'>
                    <a href='portfolio_detail.html'>
                      <div class='image-link'>
                        <i class='fa-icon-search'></i>
                        <img class="img-responsive img-rounded center-block" alt="Dictum vulputate" width="262" height="262" src="images/demo/last_projects/photographer.jpg" />
                      </div>
                      <h3 class='title'>Dictum vulputate</h3>
                      <p class='category'>Identity</p>
                    </a>
                  </div>
                  <div class='col-sm-3 col-xs-6 portfolio-box'>
                    <a href='portfolio_detail.html'>
                      <div class='image-link'>
                        <i class='fa-icon-search'></i>
                        <img class="img-responsive img-rounded center-block" alt="Semper massa" width="262" height="262" src="images/demo/last_projects/wipe_ears.jpg" />
                      </div>
                      <h3 class='title'>Semper massa</h3>
                      <p class='category'>Marketing</p>
                    </a>
                  </div>
                </div>
              </div>
            </div-->
            <!--div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa-icon-quote-right'></i>
                  <h2>Testimonials</h2>
                </div>
                <div class='row quotes'>
                  <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                    <div class='carousel-inner'>
                      <div class='item active quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Mauris at ultricies eros. Morbi vel dui nec arcu suscipit euismod. Phasellus pellentesque lectus eget quam ullamcorper consectetur. Vestibulum vitae risus a erat mollis lac in venenatis tellus.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>John Doe</strong>,
                              Company name
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan leo tellus. Nulla fringilla elementum nisl, vitae faucibus risus. Donec ut tristique eros. Curabitur mattis auctor turpis.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Michal Marek</strong>,
                              Bublina Studio
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Aenean lorem quam, dapibus et enim vel, ultrices tincidunt tellus. Donec mattis massa et lacus interdum lobortis. Pellentesque habitant morbi tristique senectus. Curabitur mattis auctor turpis.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Paľo Delinčák</strong>,
                              Bublina Studio
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Integer quis placerat leo, sit amet varius odio. Fusce sollicitudin metus eu eros egestas cursus ut ullamcorper augue. Integer blandit tellus a urna semper, sit amet tempor orci ornare. Mauris nec.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Jane Doe</strong>,
                              Company name
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ol class='carousel-indicators'>
                      <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='1' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='2' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='3' data-target='#carousel-testimonials'></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div-->
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa-icon-chevron-up'></i>
        </div>
      </div>
      <!-- FOOTER PARTIAL -->
      <%= render partial: 'application/layouts/footer' %>
      <!-- FOOTER PARTIAL -->
    </div>
  </body>
</html>
